{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Occupy</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Studentno</th>
                <td>{{ entity.studentno }}</td>
            </tr>
            <tr>
                <th>Hallname</th>
                <td>{{ entity.hallname }}</td>
            </tr>
            <tr>
                <th>Roomno</th>
                <td>{{ entity.roomno }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('occupy') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('occupy_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
